<div class="topbar">

    <div class="top-left">

        <div class="search-box">

            🔍

            <input
                type="text"
                id="searchBox"
                placeholder="Search Stocks, ETFs, IPOs">

        </div>

    </div>

    <div class="top-center">

        <div class="market-box">

            <small>NIFTY</small>

            <strong class="green">

                +0.82%

            </strong>

        </div>

        <div class="market-box">

            <small>SENSEX</small>

            <strong class="green">

                +0.55%

            </strong>

        </div>

        <div class="market-box">

            <small>BANK NIFTY</small>

            <strong class="red">

                -0.24%

            </strong>

        </div>

    </div>

    <div class="top-right">

        <div class="notification">

            🔔

        </div>

        <div class="wallet">

            💰

            <span id="topWallet">

                ₹0

            </span>

        </div>

        <div class="profile">

            👤

            <span id="topUser">

                Loading...

            </span>

        </div>

    </div>

</div>