

.container{
    background:white;
    padding:20px;
    border-radius:10px;
    width:500px;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
}

button{
    padding:12px 25px;
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
}

table{
    width:100%;
    margin-top:20px;
    background:white;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}